* {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: grey;
}

.meta-logo {
    border-radius: 19px;
}

.container {
    background-color: rgb(255, 255, 255);
    max-width: 50vw;
    padding: 10px 100px 100px 100px;
    margin: 0 auto;
    color: #554478;
}

h2 {
    color: #6800ca;
    text-shadow: 3px 3px 5px #554478;
}

h3 {
    color: #6800ca;
    text-shadow: 3px 3px 5px #554478;
}